.App-actions {
  grid-area: actions;
  background-color: var(--BG-main);
}

.App-actions a {
  display: flex;
}

.actionButton {
  outline: none;
  font-family: inherit;
  width: 5em;
  height: 2em;
  margin: 0.5em 0.5em;
  padding: 0 0.7em;
  background-color: darkgray;
  border: none;
  border-radius: 1em;
  background-color: var(--Font);
  font-size: 1.2em;
  color: var(--BG-tri);

  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .containerFull {
    justify-content: center;
  }
}
