.App-actions {
  grid-area: actions;
  background-color: #822411;
}

.App-actions a {
  display: flex;
  flex-grow: 1;
}

.actionButton {
  /* margin: 0.2em 1em; */
  /* padding: 1em 2em; */
  flex-grow: 1;
  background-color: darkgray;
  border: none;
  background-color: #822411;
  border: 3px solid #4d190f;
  font-size: 1.2em;
  color: #cebdb3;
}
