.App-actions {
  grid-area: actions;
  background-color: var(--BG-main);

}

.App-actions a {
  display: flex;
}

.actionButton {
  outline: none;
  font-family: inherit;
  width: 5em;
  margin: 0.5em 1em;
  padding: 0 1em;
  background-color: darkgray;
  border: none;
  border-radius: 1em;
  background-color: var(--Font);
  font-size: 1.2em;
  color: var(--BG-tri);
  cursor: pointer;
}
