.monsterSection {
  position: relative;
  grid-area: 1 / 1 / span 2 / 1;
  display: grid;
  grid-template: 70%  1fr / 1fr;
  grid-template-areas:
    'monsterImg monsterImg'
    'monsterDescription monsterDescription';
  background-color: var(--BG-main);
}

.monsterSection input,
.monsterSection textarea {
  font-family: inherit;
  text-align: center;
  resize: none;
  border: none;
  outline: none;
  background-color: var(--Edit-main);
  background-image: url("edit.png") ;
}

.monsterImg {
  grid-area: monsterImg;
  margin: 15px;
  margin-bottom: 0;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.monsterImgInput {
  font-family: inherit;
  font-size: 1.2em;
  align-items: flex-end;
  margin: 0.5em;
  margin-top: 7em;
  height: 2em;
  width: 100%;
  border-radius: 0.2em;
  opacity: 0.7;
}

.monsterImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.monsterTitle {
  position: absolute;
  width: 100%;
  padding: 0.3em;
  text-align: center;
  Top: 55%;
  background-color: var(--BG-tri);
  font-size: 2em;
  font-weight: lighter;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.monsterDescription {
  font-size: 1.2em;
  grid-area: monsterDescription;
  background-color: var(--BG-tri);
  padding: 1em 1em;
  overflow-y: scroll;
  line-height: 1.3em;
  margin: 15px;
  margin-bottom: 0;
  margin-top:-1.5em;
  border-radius: 1em;
}

.monsterSpecial {
  grid-area: monsterSpecial;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgb(105, 105, 105);
}

.monsterSpecs {
  grid-area: monsterSpecs;
  background-color: rgb(0, 0, 0);
}

.loading {
  width: 100%;
  height: 100%;
  padding: 40px;
  vertical-align: center;
  text-align: center;
}

.edit {
  background-color: var(--Edit-main);
}
