@import './helper.css';

h1 {
  font-size: 4em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  /* padding: 0.5em; */
  grid-area: app;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-gap: 0;
  grid-template: 1.3fr 80% auto / 100%;
  grid-template-areas:
    'header'
    'monsters'
    'actions';
}

.App-header {
  grid-area: header;
  background-color: var(--BG-sec);
  border-bottom: 1px solid var(--Font);
}

.App-monsters {
  grid-area: monsters;
  overflow-y: scroll;
  border-bottom: 1px solid var(--BG-tri);
}

.monsterTuile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 8em;
  background-color: var(--BG-tri);
  margin: 1em 0.5em;
  cursor: pointer;
  border-radius: 1em;
}

.imgTileContainer {
  width: 45%;
  height: 100%;
  flex-shrink: 0;
  border-bottom-right-radius: 1em;
}

.monsterTuile img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 1em;
  object-fit: cover;
}

.tuileText {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.tuileText h3 {
  background-color: var(--Font);
  color: var(--BG-tri);
  font-weight: bold;
  padding: 0.4em;
}

.tuileText p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 1em;
  padding: 0.4em;
}

.tuileSideContainer {
  width: 100%;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}

.tuileSideContainer img {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  opacity: 30%;
}

.filterPanel {
  z-index: 999;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 300px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 1em;
  width: 80%;
  background-color: #7d230b;
  color: White;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.filterPanel h2 {
  color: var(--BG-tri);
  font-size: 2em;
  font-weight: lighter;
}

.filterPanel label {
  margin-right: 1em;
}

.filterNumber {
  font-size: 1.5em;
  color: var(--BG-tri);
}

.slidecontainer {
  width: 90%;
  padding: 1em;
}

.slider {
  width: 100%;
  height: 0.5em;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  background: var(--BG-tri); /* Grey background */
  outline: none; /* Remove outline */
  border-radius: 0.2em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2em; /* Set a specific slider handle width */
  height: 2em; /* Slider handle height */
  background: var(--BG-tri); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.closeCross {
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 1em;
  color: var(--BG-tri);
}

.slidecontainer {
  width: 100%;
  padding: 1em;
}

.slider {
  width: 60%;
  margin: 0 1em;
}

.closeCross {
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 1em;
}

@media only screen and (min-width: 600px) {
  .App-header {
    border-bottom: 15px solid var(--Font);
  }
  .App {
    grid-area: app;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-gap: 0;
    grid-template: 100px 1fr 100px / 100%;
    grid-template-areas:
      'header'
      'monsters'
      'actions';
  }

  .App-monsters {
    /* grid-area: monsters;
    overflow-y: scroll;
    border-bottom: 1px solid var(--BG-tri); */
    padding: 3em 5em;
    padding-top: 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .monsterTuile {
    position: relative;
    box-sizing: border-box;
    height: 8em;
    width: 20em;
    background-color: var(--BG-tri);
    margin: 6em 5em;
    cursor: pointer;
    border-radius: 1em;
  }

  .imgTileContainer {
    position: absolute;
    top: -120%;
    left: -20%;
    width: 15em;
    height: 15em;
    flex-shrink: 0;
    border-bottom-right-radius: 1em;
  }

  .monsterTuile img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 1em;
    object-fit: cover;
  }

  .tuileText {
    z-index: 100;
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background-color: var(--BG-tri);
    border-bottom-right-radius: 1em;
  }

  .tuileSideContainer {
    width: 100%;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
  }

  .tuileSideContainer img {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    opacity: 30%;
  }
}
