.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceStart {
  justify-content: flex-start;
}

.stretch {
  align-items: stretch;
}

.containerFull {
  width: 100%;
  height: 100%;
}
