@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100%;
  --BG-main: #000;
  --BG-sec: rgb(185, 107, 107);
  --Font: rgb(114, 53, 53);
  --BG-tri: rgb(212, 212, 212);
  --Edit-main: rgb(216, 161, 124);
}

#root {
  height: 100%;
  background-color: var(--BG-main);
  color: var(--Font);
  display: grid;
  grid-template: 100% / 1fr minmax(3px, 1024px) 1fr;
  grid-template-areas: 'left app right';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
